<aside class="left-sidebar" data-sidebarbg="skin6">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item pt-2"><a class="sidebar-link" href="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li class="sidebar-item pt-2"><a class="sidebar-link" href="/export"><i class="fas fa-table"></i> Export Data</a></li>
                <li class="sidebar-item pt-2"><a class="sidebar-link" href="/addBill"><i class="fas fa-file-invoice"></i> Add Bill</a></li>
                <li class="sidebar-item pt-2"><a class="sidebar-link" href="/addPayment"><i class="fas fa-credit-card"></i> Add Payment</a></li>
                <li class="sidebar-item pt-2"><a class="sidebar-link" href="/analytics"><i class="fas fa-chart-bar"></i> Analytics</a></li>
                <li class="sidebar-item pt-2"><a class="sidebar-link" href="/addVendor"><i class="fas fa-id-card"></i> Vendors</a></li>
                <li class="sidebar-item pt-2"><a class="sidebar-link" href="/addPaymentMode"><i class="fas fa-wallet"></i> Add Payment Mode</a></li>
            </ul>
        </nav>
    </div>
</aside>
