<div class="white-box">
    <h5 style="display: none; color:rgb(51, 164, 51)" id="updateDetailsTitle">Update Bill Details</h5>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="billNum">Bill No. <span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="billNum" name="billNum" placeholder="Bill Number" value="1" disabled />
        </div>
        <div class="form-group col-md-4">
            <label for="billDate">Date <span style="color: red;">*</span></label>
            <input type="date" class="form-control" id="billDate" name="billDate" required />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="vendorFirmName">Vendor Firm <span style="color: red;">*</span></label>
            <select class="custom-select" id="vendorFirmName" name="vendorFirmName" required>
                <option value="">Choose...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="billGoodsType">Goods Type <span style="color: red;">*</span></label>
            <select id="billGoodsType" name="billGoodsType" class="form-control" disabled>
                <option selected>Pomegranate</option>
                <option>Onion</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="billTotalBoxes">Total Boxes <span style="color: red;">*</span></label>
            <input type="number" class="form-control" id="billTotalBoxes" name="billTotalBoxes" placeholder="Total Boxes" required />
        </div>
        <div class="form-group col-md-4">
            <label for="billWeightPerBox">Weight (kg per Box) <span style="color: red;">*</span></label>
            <select id="billWeightPerBox" name="billWeightPerBox" class="form-control">
                <option selected>9.5</option>
                <option>10</option>
                <option>8.5</option>
                <option>20</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="billTotalWeight">Total Weight (kg) <span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="billTotalWeight" name="billTotalWeight" placeholder="0" disabled />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="billMarketAmount">Market Amount (<span>&#8377;</span>) <span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="billMarketAmount" name="billMarketAmount" placeholder="&#8377;" required />
        </div>
        <div class="form-group col-md-4">
            <label for="billPaymentAmount">Party Payment Amount (<span>&#8377;</span>)</label>
            <input type="text" class="form-control" id="billPaymentAmount" name="billPaymentAmount" placeholder="&#8377;" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Extra Details (Optional)</label>
            <textarea class="form-control" id="billMoreDetails" name="billMoreDetails"></textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-success" id="addBillData">Add Bill Data</button>
    <button type="submit" class="btn btn-success" id="updateBillData" style="display: none;">Update Bill Details</button>
    <button class="btn btn-primary" id="cancelAction">Cancel</button>

    <br /><br />
    <button type="button" class="btn btn-info" onclick="scrollToTable()">Edit/Delete an Existing Bill</button>
</div>

<div class="white-box">
    <h3 class="box-title">Search Bill Details</h3>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="billSearchDate">Date <span style="color: red;">*</span></label>
            <input type="date" class="form-control" id="billSearchDate" name="billSearchDate" />
        </div>
        <div class="form-group col-md-8">
            <label for="vendorFirmNameSearch">Vendor Firm Name <span style="color: red;">*</span></label>
            <select id="vendorFirmNameSearch" name="vendorFirmNameSearch" class="form-control">
                <option value="">Choose...</option>
            </select>
        </div>
        <button type="button" class="btn btn-info" id="searchBillData">Search</button>
    </div>

    <h3 class="box-title"><br />Bill Details (Recent)</h3>
    <div class="table-responsive">
        <table class="table text-nowrap">
            <thead>
                <tr>
                    <th>Bill No.</th>
                    <th>Vendor Firm</th>
                    <th>Date</th>
                    <th>Goods Type</th>
                    <th>Total Boxes</th>
                    <th>Weight (kg)</th>
                    <th>Total Weight (kg)</th>
                    <th>Market Amount (<span>&#8377;</span>)</th>
                    <th>Party Amount (<span>&#8377;</span>)</th>
                    <th>Details</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="billDetails"></tbody>
        </table>
    </div>
</div>

<script src="/js/bills.js"></script>
