<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h5 id="updateDetailsTitle" style="display: none; color: rgb(51, 164, 51);">
                    Update Payment Mode
                </h5>

                <p>
                    <span style="color: red;">*</span> 
                    Note: You cannot delete a Payment Mode once added, you can only edit it.
                </p>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="paymentModeName">Payment Mode Name</label>
                        <input type="text" class="form-control" id="paymentModeName" name="paymentModeName" placeholder="Payment Mode Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="paymentModeStatus">Payment Mode Status</label>
                        <select id="paymentModeStatus" name="paymentModeStatus" class="form-control">
                            <option value="">Choose...</option>
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="paymentModeDetails">Extra Details (Optional)</label>
                        <textarea class="form-control" id="paymentModeDetails" name="paymentModeDetails"></textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-success" id="updateDetailsBtn" style="display: none;">Update Details</button>
                <button type="submit" class="btn btn-success" id="addDetailsBtn" onclick="addPaymentMode()">Add Payment Mode</button>
                <button class="btn btn-danger" id="cancelAction" onclick="cancelUpdateDetails()">Cancel</button>

                <br /><br />
                <button class="btn btn-primary" onclick="scrollToTable()">Edit an Existing Payment Mode</button>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Payment Modes</h3>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Payment Mode Name</th>
                                <th class="border-top-0">Payment Mode Details</th>
                                <th class="border-top-0">Payment Mode Status</th>
                                <th class="border-top-0">Action</th>
                            </tr>
                        </thead>
                        <tbody class="paymentModes"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/paymentMode.js"></script>
