<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h5 style="display: none; color: rgb(51, 164, 51);" id="updateDetailsTitle">
                    Update Vendor Details
                </h5>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="vendorFirm">Vendor Firm <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="vendorFirm" name="vendorFirm" placeholder="Vendor Firm">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="vendorName">Vendor Name <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="vendorName" name="vendorName" placeholder="Vendor Name">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firmGSTNum">Firm GST</label>
                        <input type="text" class="form-control" id="firmGSTNum" name="firmGSTNum" placeholder="Firm GST">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="goodsType">Goods Type <span style="color: red;">*</span></label>
                        <select id="goodsType" name="goodsType" class="form-control">
                            <option value="">Choose..</option>
                            <option>Onion</option>
                            <option>Pomegranate</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="vendorAddress">Address</label>
                        <input type="text" class="form-control" id="vendorAddress" name="vendorAddress" placeholder="Address">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="vendorEmail">Email</label>
                        <input type="email" class="form-control" id="vendorEmail" name="vendorEmail" placeholder="Vendor Email">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="vendorContact1">Contact 1 <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="vendorContact1" name="vendorContact1" placeholder="Vendor Contact 1">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="vendorContact2">Contact 2</label>
                        <input type="text" class="form-control" id="vendorContact2" name="vendorContact2" placeholder="Vendor Contact 2">
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="submitDetailsBtn">Add Vendor</button>
                    <button type="submit" class="btn btn-success" id="updateDetailsBtn" style="display: none;">Update Details</button>
                    <button type="button" class="btn btn-danger" id="cancelUpdateDetailsBtn" style="display: none;" onclick="cancelUpdateDetails()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <br />
    <input class="form-control" type="search" placeholder="Search Firm" aria-label="Search" id="searchBar" name="searchBar" />

    <br />

    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Vendors</h3>
                <div class="table-responsive">
                    <table class="table text-nowrap" id="vendorsTable">
                        <thead>
                            <tr>
                                <th class="border-top-0">Id</th>
                                <th class="border-top-0">Vendor Firm</th>
                                <th class="border-top-0">Vendor Name</th>
                                <th class="border-top-0">Firm GST</th>
                                <th class="border-top-0">Goods Type</th>
                                <th class="border-top-0">Contact 1</th>
                                <th class="border-top-0">Address</th>
                                <th class="border-top-0">Contact 2</th>
                                <th class="border-top-0">Email</th>
                                <th class="border-top-0">Action</th>
                            </tr>
                        </thead>
                        <tbody class="vendors">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/vendors.js"></script>
