<div class="row">
    <div class="col-lg-12">
        <div class="white-box">
            <h5>Dashboard Analytics (From 1 April 2024 - Today)</h5>
            <div id="commodityPriceTrends" class="chart"></div>
            <div id="paymentTrends" class="chart"></div>
            <div id="marketDemandTrends" class="chart"></div>
            <div id="seasonalProfitability" class="chart"></div>
        </div>
    </div>
</div>

<!-- Load Google Charts -->
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/dashboard.js"></script>
