<div class="white-box">
    <h6>Choose the Report Type :</h6>
    <select class="custom-select" id="reportType" name="reportType">
        <option value="1">Loading Report</option>
        <option value="2">Vendorwise Loading Report</option>
        <option value="3">Loading Vendor Deposit/Pending Amount Report</option>
        <option value="4">Profit Loss Master Report</option>
        <option value="5">Pending Amount Master Report</option>
    </select>

    <div class="row">
        <div class="form-group col-md-4">
            <label for="reportFromDate">From</label>
            <input type="date" class="form-control" id="reportFromDate" name="reportFromDate" required/>
        </div>
        <div class="form-group col-md-4">
            <label for="reportToDate">To</label>
            <input type="date" class="form-control" id="reportToDate" name="reportToDate" required/>
        </div>
    </div>

    {{!-- Vendor selection dropdown (Initially Hidden) --}}
    <div class="row selectVendor" style="display: none;">
        <div class="form-group col-md-4">
            <label for="vendorFirmName">Vendor Firm</label>
            <select class="form-control" id="vendorFirmName" name="vendorFirmName">
                <option value="">Select Vendor</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-success" id="generateReportBtn">Generate Report</button>
</div>

<script src="/js/export.js"></script>