<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Export Data</title>
    
</head>
<body style="padding: 2px;">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/export">Export <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Ribbon -->
<div class="container-fluid bg-primary text-white p-2 my-1">
    <div class="row">
        <div class="col-md-6" id="reportDetails" style="font-weight: bold;">
            Report Type: {{title}} <br>
            Vendor Firm: {{vendorFirmName}} <br>
            From: {{fromDate}} &nbsp;&nbsp;&nbsp;&nbsp; To: {{toDate}}
        </div>
        <div class="col-md-6 d-flex justify-content-end align-items-center">
<button type="button" class="btn btn-success mr-2" id="exportPDFButton" onclick="exportToPDF()">Export as PDF</button>
<button type="button" class="btn btn-success" id="exportXLSButton" onclick="exportToXLSX()">Export as XLSX</button>
        </div>
    </div>
</div>

<!-- Search Bar -->
<div class="container-fluid p-2">
    <div class="input-group">
        <input type="text" class="form-control" id="searchInput" placeholder="Search" aria-label="Search" aria-describedby="searchButton">
    </div>
</div>

<!-- Responsive Table -->
<div class="container-fluid p-2" id="data-table">
    <div class="table-responsive" id="table-responsive">
        <table class="table table-bordered table-light" id="table" >
            <thead class="thead-light" id="tableH">
                <tr>
                    <th>No.</th>
                    {{!-- <th>Number</th> --}}
                    <th>Date</th>
                    <th>Boxes</th>
                    <th>Debit(<span>&#8377;</span>)</th>
                    <th>Credit(<span>&#8377;</span>)</th>
                </tr>
            </thead>
            <tbody id="data-table-table" >
                
                <!-- Sum row (initially hidden) -->
                
            </tbody>
            <tfoot id="tableFoot">
                <tr id="sumRow1" style="font-weight:bold" class="table-success">
                    <td colspan="2">Total</td>
                    <td id="totalBoxes">0</td>
                    <td id="totalPendingAmount">0</td>
                    <td id="totalPaymentAmount">0</td>
                    
                </tr>
                <tr id="sumRow2" style="font-weight:bold" class="table-danger">
                    <td id="finalPendingAmt" colspan="3">0</td>
                    <td colspan="4"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<!-- jQuery, Popper.js, Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

<!-- Your custom script (export1.js) -->
<script src="js/showReport3.js"></script>

</body>
</html>
